---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Get in Contact</div>
  </div>

  <div class="w-screen">
    <div class="text-xl w-full font-bold">Email</div>
    <div class="text-lg w-full mb-5">
      <a href="mailto:contact@nfason.com">contact[at]nfason.com</a>
    </div>
    <div class="text-xl w-full">or for <span class="font-bold">Academic Inquiries</span></div>
    <div class="text-lg w-full mb-5">
      <a href="mailto:nfason@uab.edu">nfason[at]uab.edu</a>
    </div>
    <div class="text-xl w-full font-bold">I do not advertise my personal social medias</div>
  </div>

  <div class="text-center my-32 text-white/25">this page is very empty</div>
</BaseLayout>
