---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Nicholas Fason is a passionate and driven student, developer, and novice researcher. He is currently pursuing a Bachelor's of Arts in Computer Science with a minor in Communication Studies at <a href="https://uab.edu" rel="external">the University of Alabama at Birmingham</a>. After graduation, he plans to pursue a Master's of Arts in Communication Studies with a focus on the intersection of technology, communication, and medical science. He's currently in his 3rd year at UAB, graduating by May 2025. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Advanced Academic Diploma, GPA > 4.0"
      subtitle="2018 to 2021 at St. Clair County High School, Odenville, AL"
    />
    <TimeLineElement
      title="Bachelor's of Arts in Computer Science, minor Communication Studies"
      subtitle="2021 to 2025 at the University of Alabama at Birmingham, Birmingham, AL"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Community Manager of Member Services at EdgeGamers Organization"
      subtitle="From 2020 to Sep 2021 at EdgeGamers Organization, Remote, US"
    >
      Nicholas started at EdgeGamers in May of 2018 as a member of the Member Services team who process applications into the community and help members with any issues they may have. He quickly climbed the leadership chain, eventually earning the position of Community Manager of Member Services in 2020. In this position, he was responsible for the management of the Member Services team, as well as the development of new tools and processes to improve the efficiency of the team. As a member of the Community Management team at EdgeGamers, Nicholas was also respondible for major organization-wide decisions, including the development of new policies and the management of the organization's staff.
    </TimeLineElement>
    <TimeLineElement
      title="Community Manager of Technical Team at EdgeGamers Organization"
      subtitle="From Sep 2021 to 2022 at EdgeGamers Organization, Remote, US"
    >
      In September of 2021, Nicholas transitioned from his role in Member Services to a role managing the web systems and automation in the Technical Team. He was mainly responsible for building, improving, and automating the build process and managment of web services and applications. He wrote and implemented many systems, policies, and procedures to improve the efficiency of the Technical Team and the organization as a whole. Finally, after a long tenure at EdgeGamers Organization, Nicholas resigned in 2022 to focus on his studies at the University of Alabama at Birmingham.
    </TimeLineElement>
    <TimeLineElement
      title="Technical Director at the Center for Education and Performing Arts"
      subtitle="From 2019 to 2022 at CEPA, Pell City, AL"
    >
      During his time at CEPA as the Technical Director, Nicholas was responsible for the upkeep and management of technical equipment, including lighting, sound, and video equipment. He also was responsible for the training of new employees and volunteers, as well as the management of the technical team during events. Nicholas has designed, mixed, and operated sound, lighting, and video for over 50 events, including concerts, plays, musicals, and other events.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Relevant Coursework</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>CS 203 - Object-Oriented Programming</li>
    <li>CS 250 - Discrete Structures</li>
    <li>CS 303 - Algorihtms and Data Structures</li>
    <li>CS 332 - Systems Programming</li>
    <li>CMST 311 - Organizational Communication</li>
    <li>CMST 413 - Nonverbal Communication</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript & TypeScript</li>
    <li>React</li>
    <li>Vue</li>
    <li>Astro</li>
    <li>C# & .NET</li>
    <li>PHP</li>
    <li>SQL / RDBMS</li>
    <li>Git & Hg</li>
    <li>Docker & Podman</li>
    <li>Kubernetes & Helm</li>
    <li>Linux</li>
  </ul>
</BaseLayout>
