body {
  display: block;
}

#root {
  margin: auto;
  width: 50%;
}

ul, ol {
  text-align: left;
}

ul {
  margin: 0 3em;
}

ol {
  margin: 0 4em;
}

.app {
  text-align: center;
  font-family: 'Consolas', Courier, monospace;
}

.beeg {
  font-size: xxx-large;
  margin-top: 1em;
  display: inherit;
}

.smol {
  margin-bottom: 3em;
  display: inherit;
}